{
  "semi": true,
  "singleQuote": true,
  "printWidth": 120,
  "tabWidth": 2, 
  "useTabs": false, 
  "vueIndentScriptAndStyle": true,
  "trailingComma": "none", 
  "endOfLine": "lf", 
  "overrides": [
    {
      "files": "*.nvue",
      "options": {
        "parser": "vue"
      }
    }
  ]
}
